/* Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 15px 30px; /* Increased padding for a spacious navbar */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.8rem; /* Slightly larger logo text */
  font-weight: bold;
  margin-left: 10px; /* Add margin to the left */
}

.links {
  list-style: none;
  display: flex;
  gap: 30px; /* Increased gap between links */
  margin: 0;
  padding: 0;
}

.links li {
  margin: 0 10px; /* Add a bit of margin around each list item */
}

.links li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem; /* Slightly larger link text */
  padding: 8px 12px; /* Add padding around links for a clickable area */
  border-radius: 4px; /* Add slight rounding for hover effect */
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
}

.links li img {
  height: 38px;
  margin: 0 8px;
  width: 36.79px;
}

.links li a:hover {
  background-color: #00bcd4;
  color: #fff;
}
